create database java;
go
USE java
set dateformat DMY;
go
CREATE TABLE users (
   ID integer NOT NULL,
   username   NVARCHAR(45) NOT NULL,
   password NVARCHAR(45)   NOT NULL,
   quyen nvarchar(45) not null,
   PRIMARY KEY (ID)
)
-------------
select TOP(1) ID from users order by ID DESC;
select * from users;
-------------
select * from users where username='hienpro@gmail.com' and password ='123' and quyen = 'admin';
CREATE TABLE product(
   ID integer not null,
   name nvarchar(45) not null,
   price integer not null,
   typeproduct nvarchar(45) not null,
   thuocnhom nvarchar(45) not null,
   description nvarchar(250) not null,
   soluongtonkho integer not null,
   PRIMARY KEY (ID)
)
--------------
select soluongtonkho from product where ID = 1;
select soluongtonkho from product where ID = 2;
--------------
select TOP(1) ID from product order by ID desc;
select COUNT(*) from product;
select * from product where ID = 433;
delete from img where productID = 433;
delete from product where ID = 433;
select * from img where productID = 433;
--------------
CREATE TABLE img(
   ID integer not null,
   productID integer not null FOREIGN KEY REFERENCES product(ID),
   fileImg nvarchar(250) not null,
   primary key (ID,productID)   
)
create table cart(
   -- ID cart bang voi ID user
   ID Integer not null,
   PRIMARY KEY (ID)   
)
create table cartItem(
   ID integer not null,
   product_id integer not null FOREIGN KEY REFERENCES product(ID),
   soluong integer not null,
   cart_id integer not null FOREIGN KEY REFERENCES cart(ID),
   PRIMARY KEY (ID,cart_id)
)
--------------
select TOP(1) ID from cartItem where cart_id = 1 order by ID DESC;
select * from cartItem; 
--------------
create table wishlist(
   -- ID wishlist bang voi ID user
   ID Integer not null,
   PRIMARY KEY (ID)
)
create table wishlistItem(
   ID integer not null,
   product_id integer not null FOREIGN KEY REFERENCES product(ID),
   wishlist_id integer not null FOREIGN KEY REFERENCES wishlist(ID),
   PRIMARY KEY (ID,wishlist_id)
)
create table lienhe(
   ID integer not null,
   email nvarchar(45) not null,
   ngaygui date not null,
   chude nvarchar(45) not null,
   noidung nvarchar(45) not null,
   trangthai nvarchar(45) not null,
   PRIMARY KEY (ID)
)
---------------
select TOP(1) ID from lienhe order by ID DESC;
select * from lienhe;
---------------
create table binhluan(
   ID integer not null,
   tennguoigui nvarchar(45) not null,
   ngaygui date not null,
   binhluan nvarchar(250) not null,
   product_id integer not null FOREIGN KEY REFERENCES product(ID),
   PRIMARY KEY (ID,product_id) 
)
-----------
select TOP(1) ID from binhluan where product_id = 1 order by ID desc;
select * from binhluan where product_id = 1; 
-----------
create table donhang(
   -- ID order bang voi ID user
   ID integer not null,
   PRIMARY KEY (ID)
)
---------
select * from donhang
---------
create table orderDetail(
   ID integer not null,
   order_id integer not null FOREIGN KEY REFERENCES donhang(ID),
   quocgia nvarchar(45) not null,
   hovaten nvarchar(45) not null,
   diachi nvarchar(200) not null,
   thanhpho nvarchar(45) not null,
   sodienthoai nvarchar(45) not null,
   ngaydathang date not null,
   total int not null,
   PRIMARY KEY (ID,order_id)
)
----------------
select TOP(1) ID from orderDetail where order_id = 1 order by ID DESC;
select * from orderDetail;
----------------
select * from orderDetail;
insert into orderDetail (ID,order_id,quocgia,hovaten,diachi,thanhpho,sodienthoai,ngaydathang,total) values ();
----------------
update product set name = 'ahihi',soluongtonkho = 500,price=800,description='ahihi' where ID = 1;
select * from product where ID = 1;
-------------insert into binhluan
insert into binhluan (ID,tennguoigui,ngaygui,binhluan,product_id) values (1,N'hiển','29/09/2000',N'áo đẹp đấy',1);
insert into binhluan (ID,tennguoigui,ngaygui,binhluan,product_id) values (2,N'nam','29/09/2000',N'áo đẹp đấy',1);
insert into binhluan (ID,tennguoigui,ngaygui,binhluan,product_id) values (3,N'thịnh','30/09/2000',N'áo đẹp đấy',1);
select * from binhluan
select * from binhluan where ngaygui between '2000-01-01' and '2020-01-01';
delete from binhluan where product_id = 8 or product_id = 20;
select COUNT(*) from binhluan where product_id = 1;
go
with x as(select ROW_NUMBER() over (order by ID) as row,* from binhluan where product_id = 2)
select * from x where row between 1 and 2
go
-------------insert into contacts	
select * from lienhe
select COUNT(*) from lienhe;
delete from lienhe
insert into lienhe (ID,email,ngaygui,chude,noidung,trangthai) values (1,'minhhien2000k@gmail.com','28/9/2000',N'test tiếng việt',N'test tiếng việt',N'test tiếng việt');
insert into lienhe (ID,email,ngaygui,chude,noidung,trangthai) values (2,'minhhien2000k@gmail.com','28/9/2000',N'test tiếng việt',N'test tiếng việt',N'test tiếng việt');
-------test
create table test(	
   ID integer not null,
   ngaygui date not null,
   PRIMARY KEY (ID)
)
-----test insert
insert into test values (1,'28/9/2000');
insert into test values (2,'29/9/2000');
select ngaygui from test where ngaygui between '27/8/2020' and '29/9/2021';
select * from test where DAY(ngaygui) = 28;
select CONVERT (date,ngaygui) as date from test where ID = 1;
-----
INSERT INTO users values ( 1,'hien@gmail.com','123','admin') ;
INSERT INTO users values ( 2,'hiep@gmail.com','123','admin') ;
INSERT INTO users values ( 3,'VanAnh@gmail.com','123','admin') ;
select * from users where ID = 1
select * from users where username = 'hien@gmail.com' and password = '123';
select COUNT(*) from users 
update users set password = '123456' where username = 'phung@gmail.com'
------------
go
with x as(select ROW_NUMBER() over (order by price DESC) as row,* from product where name like N'%mi%' and thuocnhom = 'men')
select * from x where row between 1 and 18
go
select COUNT(*) from product where typeproduct = 'aosominam' and thuocnhom = 'men'
select COUNT(*) from product where name like N'%khoác%' and thuocnhom = 'men'
go
with x as(select ROW_NUMBER() over (order by ID) as row,* from product where thuocnhom = 'men' and typeproduct='aosominam')
select * from x where row between 1 and 3
go
-->1 1 and 9  index * 9 - 8 and index * 9
select * from product where id = 1;
------------------>insert into cart
select * from cart
insert into cart values(1);
insert into cart (ID) values (3);	
------------------>insert into cartItem
select * from cartItem where cart_id = 1;
select * from cartItem where product_id = 28 and cart_id = 1;
update cartItem set soluong = 6 where ID = 1 and cart_id = 1; 
insert into cartItem values(1,28,5,1);
delete from cartItem where product_id = 29 and cart_id = 1;
insert into cartItem values(2,29,1,1);
insert into cartItem values(3,32,2,1);

-------------------------wish list
select * from wishlist where ID = 1;
insert into wishlist (ID) values (1);
select * from wishlistItem where wishlist_id = 1; 
select * from wishlistItem where product_id = 1 and wishlist_id = 1;
insert into wishlistItem (ID,product_id,wishlist_id) values (1,4,1);
--------------------------------------filter test
select COUNT(*) from product where price between 1 and 300 and thuocnhom = 'men' and typeproduct = 'aokhoacnam';
go
with x as(select ROW_NUMBER() over (order by price desc) as row,* from product where price between 1 and 500 and thuocnhom = 'men' and typeproduct='aosominam')
select * from x where row between 1 and 2
go
select * from product where ID = 1;
go
---------------------------------------------product moi

--thuoc nhom:men
--producttype:aokhoacnam
---ao khoac nam 
INSERT INTO product values(1,'aokhoacnam1',250,N'aokhoacnam','men',N'Áo len nam có cổ hợp dáng người, hợp màu sắc làm tăng vẻ đẹp của trang phục bạn mặc và khẳng định ấn tượng của bạn trong mắt người đối diện.',500);
INSERT INTO product values(2,'aokhoacnam2',260,N'aokhoacnam','men',N'Áo len nam có cổ hợp dáng người, hợp màu sắc làm tăng vẻ đẹp của trang phục bạn mặc và khẳng định ấn tượng của bạn trong mắt người đối diện.',500);
INSERT INTO product values(3,'aokhoacnam3',270,N'aokhoacnam','men',N'Áo len nam có cổ hợp dáng người, hợp màu sắc làm tăng vẻ đẹp của trang phục bạn mặc và khẳng định ấn tượng của bạn trong mắt người đối diện.',500);


--ao khoac nam
--ao1
INSERT INTO img values(1,1,'http://localhost:8080/WebProject/user/img/men/aokhoacnam/aokhoacnam1/ao1.jpg');
INSERT INTO img values(2,1,'http://localhost:8080/WebProject/user/img/men/aokhoacnam/aokhoacnam1/ao2.jpg');
INSERT INTO img values(3,1,'http://localhost:8080/WebProject/user/img/men/aokhoacnam/aokhoacnam1/ao3.jpg');
--ao2
--ao3

--ao4
--ao5
--ao6
--ao7
--ao8
--ao9
--ao10
--ao11
--ao12
--ao13
--ao14
--ao15
--ao16
--ao17
--ao18
--ao19


--ao20
--ao so mi




--áo sơ mi
--ao1
--ao2
--ao3
--ao4
--ao5
--ao6
--ao7
--ao8
--ao9
--ao10
--ao11
--ao12
--ao13
--ao14
--ao15
--ao16
--ao17
--ao18
--ao19
--ao20


--giày nam

--giay1

--giay2
--giay3
--giay4
--giay5
--giay6
--giay7

--giay8
--giay9

--giay10
--giay11
--giay12
--giay13
--giay14
--giay15
--giay16
--giay17
--giay18
--giay19
--giay20


--quan jean nam



--quan1
--quan2
--quan3
--quan4
--quan5
--quan6
--quan7
--quan8
--quan9
--quan10
--quan11
--quan12
--quan13
--quan14
--quan15
--quan16
--quan17
--quan18
--quan19
--quan20


------------------------------------------------------------------- do nu

--thuoc nhom nu
--ao khoacnu






--img nu




















--thuoc nhom nu
--giaynu


























--thuoc nhom nu
--quanjeansnu







--img quanjean




















--thuoc nhom nu
--tuinu



























------------------------------------------------------------------do tre em
--be gai
--begai5tuoi




----
----
















--be gai
--begai5thangtuoi





---
















------CUA VAN ANH
--DO TRE EM NAM 5 DEN 14 TUOI




--do1
--do2
--do3
--do4
--do5
--do6
--do7
--do8
--do9
--do10
--do11
--do12
--do13
--do14
--do15
--do16
--do17
--do18
--do19
--do20
--do21


--do tre em nam 5 thang tuoi


--san pham
--do1
--do2
--do3
--do4
--do5
--do6
--do7
--do8
--do9
--do10
--do11
--do12
--do13
--do14
--do15
--do16
--do17
--do18
--do19
--do20


delete from product where typeproduct = 'dotreemnam' and thuocnhom = 'treem';
delete from img where productID between 300 and 331;

